version: 2
updates:
  - package-ecosystem: npm
    directory: /
    groups:
      eslint:
        patterns:
          - "*eslint*"
      types:
        patterns:
          - "@types/*"
    schedule:
      interval: weekly
      day: "saturday"
      time: "20:30"
      timezone: Asia/Tokyo
    open-pull-requests-limit: 15
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
      time: "08:30"
      timezone: Asia/Tokyo
