name: Auto build
on: pull_request
jobs:
  auto-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3.0.0
        with:
          node-version: "12"
          check-latest: true
          cache: npm
      - run: npm ci
      - run: npm run build
      - run: git diff --exit-code --quiet
        id: git_diff
        continue-on-error: true
      - uses: yykamei/actions-git-push@main
        if: steps.git_diff.outcome == 'failure'
        with:
          commit-message: "Run `npm run build`"
          branch: ${{ github.event.pull_request.head.ref }}
