name: Auto build
on: pull_request
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2
        with:
          node-version: "12"
      - run: npm ci
      - run: npm run build
      - run: git diff --exit-code --quiet
        id: git_diff
        continue-on-error: true
      - name: Push changes
        if: steps.git_diff.outcome == "failure"
        run: |
          git checkout ${{ github.event.pull_request.head.ref }}
          git add -A
          git config user.name github-actions
          git config user.email github-actions@github.com
          git commit -m 'Run `npm run build`'
          git push
