name: Block Merge Based on Time
on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "*/30 * * * *"

jobs:
  block:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
      statuses: write
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
      - uses: yykamei/block-merge-based-on-time@main
        id: block
        with:
          timezone: Asia/Tokyo
          after: 03:00
          before: 04:00
          token: ${{ steps.app-token.outputs.token }}
      - run: echo pr-blocked=${{ steps.block.outputs.pr-blocked }}
        if: github.event_name == 'pull_request'
