name: Block Merge Based on Time
on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "*/30 * * * *"

jobs:
  block:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
      statuses: write
    steps:
      - uses: yykamei/block-merge-based-on-time@a3927982fcea346698e544205e6da4234cf1823f # main
        id: block
        with:
          timezone: Asia/Tokyo
          after: 03:00
          before: 04:00
      - run: echo pr-blocked=${{ steps.block.outputs.pr-blocked }}
        if: github.event_name == 'pull_request'
