name: Block Merge Based on Time
on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "*/30 * * * *"

jobs:
  block:
    runs-on: ubuntu-latest
    steps:
      - uses: yykamei/block-merge-based-on-time@outputs
        id: block
        with:
          timezone: Asia/Tokyo
          after: 22:00
          before: 04:00
      - run: echo pr-blocked=${{ steps.block.outputs.pr-blocked }}
        if: github.event_name == 'pull_request'
