name: CI
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
jobs:
  ci:
    continue-on-error: true
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ["12", "14", "16"]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          cache: npm
      - run: npm ci
      - run: npm run fmt:check
      - run: npm run lint
      - run: npm test
