name: CI
on:
  push:
    branches: [main]
  pull_request:
  pull_request_target:
    types: [labeled]
  workflow_dispatch:
jobs:
  ci:
    if: github.event_name != 'pull_request_target'
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24
          check-latest: true
          cache: npm
      - run: npm ci
      - run: npm run fmt:check
      - run: npm run lint
      - run: npm test
  dependency-review:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2
  auto-build-trusted:
    if: github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ steps.app-token.outputs.token }}
          ref: ${{ github.head_ref }}
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24
          check-latest: true
          cache: npm
      - run: npm ci
      - run: npm run build
      - run: git diff --exit-code --quiet
        id: git_diff
        continue-on-error: true
      - uses: yykamei/actions-git-push@c9bcec4304fde1cf89d4abdf23280713e66c034d # main
        if: steps.git_diff.outcome == 'failure'
        with:
          commit-message: "Run `npm run build`"
  auto-build-untrusted:
    if: github.event.pull_request.head.repo.full_name != github.repository
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24
          check-latest: true
          cache: npm
      - run: npm ci
      - run: npm run build
      - run: git diff --exit-code --quiet
        id: git_diff
        continue-on-error: true
