name: Fetch holidays
on:
  workflow_dispatch:
  schedule:
    - cron: "5 11 * * *"
jobs:
  fetch-holidays:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: "16"
          check-latest: true
          cache: npm
      - run: npm ci
      - run: npm run fetch-holidays
        env:
          GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
      - run: npm run build
      - uses: yykamei/actions-git-push@main
        with:
          commit-message: Update Holidays
          branch: update-holidays
      - uses: yykamei/actions-gh-pr-create@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: update-holidays
          title: Update Holidays
          label: enhancement
          body: |
            *This pull request was automatically created to make src/holidays.json the latest*.

            Check the files changes and merge if the changes make sense.
