name: Fetch holidays
on:
  workflow_dispatch:
  schedule:
    - cron: "5 11 * * *"
jobs:
  fetch-holidays:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
      - uses: actions/checkout@v5
        with:
          token: ${{ steps.app-token.outputs.token }}
      - uses: actions/setup-node@v5
        with:
          node-version: 24
          check-latest: true
          cache: npm
      - run: npm ci
      - run: npm run fetch-holidays
        env:
          GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
      - uses: yykamei/actions-git-push@main
        with:
          commit-message: Update Holidays
          branch: update-holidays
      - uses: yykamei/actions-gh-pr-create@main
        with:
          token: ${{ steps.app-token.outputs.token }}
          branch: update-holidays
          title: Update Holidays
          label: enhancement
          body: |
            *This pull request was automatically created to make src/holidays.json the latest*.

            Check the files changes and merge if the changes make sense.
