name: Fetch holidays
on:
  workflow_dispatch:
  schedule:
    - cron: "5 11 * * *"
jobs:
  fetch-holidays:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ steps.app-token.outputs.token }}
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24
          check-latest: true
          cache: npm
      - run: npm ci
      - run: npm run fetch-holidays
        env:
          GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
      - uses: yykamei/actions-git-push@c9bcec4304fde1cf89d4abdf23280713e66c034d # main
        with:
          commit-message: Update Holidays
          branch: update-holidays
      - uses: yykamei/actions-gh-pr-create@4a22702016fa51a895a4a483a8a95bb392880240 # main
        with:
          token: ${{ steps.app-token.outputs.token }}
          branch: update-holidays
          title: Update Holidays
          label: enhancement
          body: |
            *This pull request was automatically created to make src/holidays.json the latest*.

            Check the files changes and merge if the changes make sense.
