name: GitHub Workflows Metrics
on:
  workflow_dispatch:
permissions:
  actions: read
  issues: write
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: yykamei/github-workflows-metrics@main
        with:
          status: "success"
          aggregate: average
