name: Release
on: workflow_dispatch
permissions: {}
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          token: ${{ steps.app-token.outputs.token }}

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 24
          check-latest: true
          cache: npm

      - run: npm ci

      - name: Decide the next version
        id: version
        run: |
          latest=$(gh release view --json tagName --jq .tagName)
          next=$(echo ${latest#v} | awk -F . '{patch = $3; patch++; printf "%d.%d.%d", $1, $2, patch}')
          echo "next=${next}" >> "$GITHUB_OUTPUT"
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

      - name: Bump the package version
        run: |
          mv package.json /tmp/
          jq '.version = "${{ steps.version.outputs.next }}"' /tmp/package.json | tee package.json
          npm i --package-lock-only

      - uses: yykamei/actions-git-push@c9bcec4304fde1cf89d4abdf23280713e66c034d # main
        with:
          commit-message: Bump to ${{ steps.version.outputs.next }}

      - uses: yykamei/actions-release-actions@451f5f47bc1e9cdad23d644cefd5413fe557b94a # main
        with:
          token: ${{ steps.app-token.outputs.token }}
          tag: v${{ steps.version.outputs.next }}
          apply: true
